<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="manifest" href="/manifest.json">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WeatherWear Jr</title>
  <style>
    table {
      width: 50%;
      border-collapse: collapse;
      margin: auto;
      /* this will center the table itself */
    }

    th,
    td {
      border: 1px solid black;
      padding: 8px;
      text-align: center;
      /* this centers the content of each cell */
    }

    th {
      background-color: #f2f2f2;
    }

    .img-clothing {
      width: 100px;
      height: 100px;
      object-fit: contain;
      margin: auto;
      image-rendering: pixelated;
      /* this will center the image within its cell */
    }

    h1,
    h2 {
      text-align: center;
      /* this will center the headers */
    }
  </style>
</head>

<body>
  <h1>WeatherWear Jr</h1>
  <h2>Weather Information</h2>
  <table id="weatherTable">
    <tr>
      <th>Temperature</th>
      <th>High Temperature</th>
      <th>Low Temperature</th>
      <th>Rain (%)</th>
      <th>Currently Raining</th>
    </tr>
    <tr>
      <td data-celsius="<%= weatherData.currentWeather.temperatureC %>">
        <%= weatherData.currentWeather.temperatureF.toFixed(0) %>°<span class="temp-unit">F</span>
      </td>
      <td>
        <%= weatherData.dailyWeather.highTemp.toFixed(0) %>°F
      </td>
      <td>
        <%= weatherData.dailyWeather.lowTemp.toFixed(0) %>°F
      </td>
      <td>
        <%= weatherData.chanceOfRain %>%
      </td>
      <td>
        <%= weatherData.currentWeather.rain !== 'No rain' ? 'Yes' : 'No' %>
      </td>
    </tr>
  </table>
  <h2>Clothing Recommendations</h2>
  <table>
    <tr>
      <th>Outerwear</th>
      <th>Tops</th>
      <th>Bottoms</th>
      <th>Footwear</th>
    </tr>
    <tr>
      <td><img class="img-clothing" src="<%= images.outerwear[0] %>" alt="Outerwear"></td>
      <td><img class="img-clothing" src="<%= images.tops[0] %>" alt="Tops"></td>
      <td><img class="img-clothing" src="<%= images.bottoms[0] %>" alt="Bottoms"></td>
      <td><img class="img-clothing" src="<%= images.footwear[0] %>" alt="Footwear"></td>
    </tr>
    <tr>
      <td>
        <%= recommendations.outerwear.join(', ') %></td>
      <td><%= recommendations.tops.join(', ') %></td>
      <td><%= recommendations.bottoms.join(', ') %></td>
      <td><%= recommendations.footwear.join(', ') %></td>
    </tr>
  </table>
  <script src="/scripts/scripts.js"></script>
</body>

</html>
